.category-chips-item {
    padding: 5px;
    border-radius: 35px;
    background: #fafafa;
    border: 1px solid #dbdada;
    margin: 10px;
    user-select: none;
    padding: 8px 13px 8px 13px;
    transition: .3s;
    cursor: pointer;

    &.active {
        background: #5ad2c8;
        border: 1px solid #5ad2c8;
    }

    &:not(.active):hover {
        opacity: .8;
    }

    span {
        color: rgb(36, 35, 35);
        white-space: nowrap;
        font-weight: bold;
    }
}